.wrapper {
    margin: 150px 0;

    h2 {
        font: 800 44px Montserrat;
        color: #022f8a;
        margin-bottom: 20px;
    }

    .whirligig_projects {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        margin-top: 20px;

        .project_item {
            border: 2px solid #000000;
            box-shadow: 5px 4px 0px 2px #000000;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 10px;
            max-width: 350px;

            .img_item_1,
            .img_item_2,
            .img_item_3,
            .img_item_4,
            .img_item_5,
            .img_item_6,
            .img_item_7 {
                width: 320px;
                height: 200px;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 12px;
            }

            .img_item_1 {
                background-image: url(${caffeine});
            }

            .img_item_2 {
                background-image: url(${bistro});
            }

            .img_item_3 {
                background-image: url(${education});
            }

            .img_item_4 {
                background-image: url(${web});
            }

            .img_item_5 {
                background-image: url(${weather});
            }

            .img_item_6 {
                background-image: url(${vacancies});
            }

            .img_item_7 {
                background-image: url(${presentation});
            }

            .environment {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;

                .env_item {
                    padding: 5px 9px;
                    background: #939393;
                    border-radius: 10px;

                    p {
                        font: 700 10px Montserrat;
                    }
                }
            }

            .name_item {
                font: 500 20px Montserrat;
            }

            .text_item {
                font: 400 14px Montserrat;
                text-align: left;
            }

            .view {
                font: 600 16px Montserrat;
                color: #022f8a;
                text-align: left;

                &.view:hover {
                    text-decoration: underline;
                }
            }

        }

    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        & h2 {
            font-size: 44px;
        }

        & p {
            font-size: 18px;
        }
    }
}