.wrapper {
    margin: 0 0 200px;
    /* max-width: 1335px; */

    h2 {
        font: 800 44px Montserrat;
        line-height: 50px;
        text-align: center;
        color: #022f8a;
    }

    p {
        font: 300 25px Montserrat;
        /* line-height: 50px; */
        text-align: center;
        color: #000000;
    }

    .whirligig_projects {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        .project_item {
            border: 2px solid #000000;
            box-shadow: 5px 4px 0px 2px #000000;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 10px;
            max-width: 350px;

            .img_item_1, .img_item_2, .img_item_3,
            .img_item_4, .img_item_5,
            .img_item_6, .img_item_7 {
                width: 320px;
                height: 200px;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 12px;
            }
            .img_item_1 {
                background-image: url(${img1});
            }

            .img_item_2 {
                background-image: url(${img2});
            }

            .img_item_3 {
                background-image: url(${img3});
            }

            .img_item_4 {
                background-image: url(${img4});
            }

            .img_item_5 {
                background-image: url(${img5});
            }

            .img_item_6 {
                background-image: url(${img6});
            }

            .img_item_7 {
                background-image: url(${img7});
            }

            .environment {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;

                .env_item {
                    padding: 5px 9px;
                    background: #939393;
                    border-radius: 10px;

                    p {
                        font: 700 9px Montserrat;
                        line-height: 10.93px;
                        text-align: left;
                        color: #000000;
                    }
                }
            }

            .name_item {
                font: 500 18px Montserrat;
                color: #000000;
            }

            .text_item {
                font: 400 12px Montserrat;
                text-align:left;
                color: #000000;
            }

            .view {
                font: 600 16px Montserrat;
                text-align: left;
                color: #022f8a;
            }

        }

    }
}