.wrapper {
    margin: 100px 0;

    .visit_card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        gap: 30px;

        .about_me {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            max-width: 629px;

            p {
                text-align: left;
            }
        }

        .img {
            background-image: url(${foto});
            width: 450px;
            height: 450px;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 250px;
            box-shadow: 5px 5px 5px 5px #0000004d;
        }
    }

    .skills {
        display: flex;
        margin-top: 100px;

        .roles {
            width: 100%;
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
            justify-content: space-around;

            .roles_item {
                display: flex;
                gap: 15px;

                .icon_1,
                .icon_2,
                .icon_3 {
                    width: 30px;
                    height: 30px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .icon_1 {
                    background-image: url('./assets/icon1.svg');
                }

                .icon_2 {
                    background-image: url('./assets/icon2.svg');
                }

                .icon_3 {
                    background-image: url('./assets/icon3.svg');
                }

                h3 {
                    font: 800 22px Montserrat;
                    color: #000000;
                }

                .line {
                    border: 1px solid #66666676;

                }

                .info_item {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    ul {
                        list-style-type: square;
                        margin-top: 10px;

                        li {
                            font: 400 16px Montserrat;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .wrapper .visit_card {
        justify-content: center;
        gap: 20px;

        .about_me {
            gap: 20px;

            p,
            h1 {
                text-align: center;
            }
        }

        .img {
            width: 350px;
            height: 350px;

        }
    }

    .skills {
        justify-content: center;
    }
}

@media screen and (max-width:800px) {
    .wrapper {
        .visit_card .about_me {
            h1 {
                font-size: 70px;
            }

            p {
                font-size: 18px;
            }
        }

        .skills .roles .roles_item .info_item ul {
            li {
                margin-top: 0;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        .visit_card .about_me {
            h1 {
                font-size: 44px;
            }
        }

        .skills .roles .roles_item {
            h3 {
                font-size: 20px;
            }
        }
    }
}