.wrapper {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    align-items: center;

    .title {
        font: 800 30px Poppins;
        color: #000000;
    }

    .line {
        border: 2px solid #000000;
        width: 200px;
        margin-bottom: 40px;
    }

    .icons_contacts {
        display: flex;
        gap: 80px;

        .linkedin,
        .github,
        .telegram,
        .instagram,
        .email {
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            position: relative;
        }

        .linkedin {
            background-image: url('./assets/linkedin.svg');
        }

        .github {
            background-image: url('./assets/github.svg');
        }

        .telegram {
            background-image: url('./assets/telegram.svg');
        }

        .instagram {
            background-image: url('./assets/instagram.svg');
        }

        .email {
            background-image: url('./assets/email.svg');
        }

        .email::after {
            content: "mariku22@yandex.ru"; /* Замените на Ваш реальный email */
            position: absolute;
            bottom: 100%; /* Позиционируем меню над элементом */
            left: 50%; /* Центруем по горизонтали */
            transform: translateX(-50%);
            background-color: rgba(200, 200, 200, 0.9); /* Серый фон */
            color: #000; /* Цвет текста */
            padding: 8px; /* Отступы вокруг текста */
            border-radius: 4px; /* Скругление углов */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
            white-space: nowrap; /* Не переносить текст */
            visibility: hidden; /* По умолчанию скрыто */
            opacity: 0; /* Изначально невидимо */
            transition: opacity 0.3s, visibility 0.3s; /* Плавный переход */
            font: 700 14px Montserrat;
        }
    
        .email:hover::after {
            visibility: visible; /* Показываем при наведении */
            opacity: 1; /* Делаем видимым */
        }
    }
}